* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  padding: 12px 0px;
  min-width: 800px;
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  display: flex;
  margin: 20px auto 16px;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}
.card {
  border-radius: 6px;
  padding: 8px 4px;
  width: 180px;
  /* min-height: 2px; */
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.movie-img {
  height: 200px;
  width: 180px;
  border-radius: 2px;
  max-width: 100%;
  min-height: 230px;
  transition: 0.2s all;
  cursor: pointer;
}
.movie-img:hover {
  transform: scale(1.05);
}
.card h3 {
  display: block;
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  margin: 6px 0px 0px 0px;
  padding: 0px 6px;
}

.favourite-btn_wrapper {
  display: flex;
  align-items: end;
  height: 100%;
  padding: 3px 6px 0px;
}
.favourite-btn {
  width: 100%;
  background: black;
  font-size: 13px;
  padding: 4px;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
.search-bar {
  text-align: center;
  margin-bottom: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.search {
  width: 60%;
}
.search input {
  padding: 6px;
  width: 100%;
  border-radius: 4px;
}

/*  favourite */

.home-btn {
  text-align: center;
  a {
  }
}
